/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #8C8C8C;
}

/* Cabeçalho e Navegação */
header {
  background: #242424;
  padding: 34px 184px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.nav-menu {
  list-style: none;
  display: flex;
}

.nav-menu li {
  margin-left: 24px;
}

.nav-menu a {
  text-decoration: none;
  font-size: 16px;
}

.nav-menu a:target , .nav-menu a:hover {
  font-weight: 700;
}

.nav-menu a:visited, .nav-menu a:active {
  color: #FFF;
}

/* Seção "Bem-vindo(a)" */
#bem-vindo {
  background-image: url(./assets/bemvindo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #242424; /* Cor de fundo para o caso de a imagem não carregar */
  height: 600px
}

.bem-vindo-container {
  padding: 198px 380px 198px 732px;
}

#bem-vindo h1 {
  color: #FFAA06;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
}

#bem-vindo p {
  color: #FFF;
  font-size: 16px;
  line-height: 19px;
  margin-top: 12px;
}

/* Seção "Cafés" */
#linha-especial {
  padding: 60px 173px 60px 195px;
  max-width: 100%;
}

#linha-gourmet {
  padding: 0px 173px 150px 195px;
  max-width: 100%;
}

#linha-especial h2, #linha-gourmet h2 {
  color: #616161;
  font-size: 24px;
  font-weight: 400;
  font-weight: 700;
  border-bottom: 1px solid #E9E9E9;
  padding-bottom: 16px;
  margin-bottom: 40px;
}

#linha-especial h2 span, #linha-gourmet h2 span {
  font-weight: 400;
}

.cafes-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os cartões "quebrem" para a próxima linha */
  justify-content: space-between;
  gap: 40px;
}

.cafe-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: left;
}

.cafe-card {
  flex: 1 1 calc(33.333% - 40px); /* Ajuste a largura dos cartões para caber na tela */
}

.cafe-card img {
  margin-bottom: 32px;
}

.cafe-card h3 {
  margin-bottom: 16px;
}
.cafe-card h3, .cafe-card .preco {
  color: #2C2C2C;
  font-size: 20px;
  font-weight: 700;
}

.cafe-card .preco {
  opacity: 0.7;
  margin-bottom: 0;
}

.cafe-card .descricao {
  font-size: 16px;
  line-height: 22.4px;
  margin-bottom: 16px;
}





