/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #8C8C8C;
}

/* Cabeçalho e Navegação */
header {
  background: #242424;
  padding: 34px 184px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.nav-menu {
  list-style: none;
  display: flex;
}

.nav-menu li {
  margin-left: 24px;
}

.nav-menu a {
  text-decoration: none;
  font-size: 16px;
}

.nav-menu a:target , .nav-menu a:hover {
  font-weight: 700;
}

.nav-menu a:visited, .nav-menu a:active {
  color: #FFF;
}

/* Seção "Bem-vindo(a)" */
#bem-vindo {
  background-image: url(./assets/bemvindo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #242424; /* Cor de fundo para o caso de a imagem não carregar */
  height: 600px
}

.bem-vindo-container {
  padding: 198px 380px 198px 732px;
}

#bem-vindo h1 {
  color: #FFAA06;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
}

#bem-vindo p {
  color: #FFF;
  font-size: 16px;
  line-height: 19px;
  margin-top: 12px;
}

/* Seção "Cafés" */
#linha-especial {
  padding: 60px 173px 60px 195px;
  max-width: 100%;
}

#linha-gourmet {
  padding: 0px 173px 150px 195px;
  max-width: 100%;
}

#linha-especial h2, #linha-gourmet h2 {
  color: #616161;
  font-size: 24px;
  font-weight: 400;
  font-weight: 700;
  border-bottom: 1px solid #E9E9E9;
  padding-bottom: 16px;
  margin-bottom: 40px;
}

#linha-especial h2 span, #linha-gourmet h2 span {
  font-weight: 400;
}

.cafes-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os cartões "quebrem" para a próxima linha */
  justify-content: space-between;
  gap: 40px;
}

.cafe-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.10);
  padding: 40px;
  text-align: left;
}

.cafe-card {
  flex: 1 1 calc(33.333% - 40px); /* Ajuste a largura dos cartões para caber na tela */
}

.cafe-card img {
  margin-bottom: 32px;
}

.cafe-card h3 {
  margin-bottom: 16px;
}
.cafe-card h3, .cafe-card .preco {
  color: #2C2C2C;
  font-size: 20px;
  font-weight: 700;
}

.cafe-card .preco {
  opacity: 0.7;
  margin-bottom: 0;
}

.cafe-card .descricao {
  font-size: 16px;
  line-height: 22.4px;
  margin-bottom: 16px;
}

/* Seção "Seja WCC VIP" */
#vip {
  display: flex;
  justify-content: space-between;
  margin-bottom: 68px;
}

.vip-info {
  flex-basis: 50%;
  padding: 166px 130px 165px 195px;
  background-color: #2C2C2C;
}

.vip-info h2 {
  color: #FFAA06;
  font-size: 24px;
  line-height: 28px;
  border-bottom: 1px solid #FFAA06;
  padding-bottom: 16px;
  margin-bottom: 37px;
}

.vip-info p {
  color: #FFF;
  opacity: 0.7;
  font-size: 16px;
  line-height: 22.4px;
}

.vip-form {
  flex-basis: 50%;
}

.form-container {
  padding: 33px 48px;
  border-radius: 16px;
  color: #2C2C2C;
  margin-right: 173px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.10); /* Sombra ao redor do formulário */
}

.form-container h2 {
  color: #2C2C2C;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 37px;
}

.form-group {
  margin-bottom: 48.5px;
}

.form-group label {
  color: #2C2C2C;
  display: block;
  margin-bottom: 8px;
}

input::placeholder {
  color: #808080; /* Cor personalizada para o placeholder */
}

.form-group input[type="text"],
.form-group input[type="email"] {
  width: 100%;
  padding: 16px;
  border: 1px solid #2C2C2C;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box; /* Inclui padding no cálculo da largura */
}

.form-group.inline {
  display: flex;
  justify-content: space-between;
}

.form-group.inline .form-group:first-child {
  flex: 1 1 30%; /* Celular ocupa 40% do espaço */
  margin-right: 24px; /* Adiciona espaço entre Celular e E-mail */
}

.form-group.inline .form-group:last-child {
  flex: 1 1 60%; /* E-mail ocupa 58% do espaço */
}

.checkbox-group {
  position: relative;
}

.checkbox-group label {
  display:flex;
  align-items: center;
  gap: 12px;
  margin: 0;
  font-size: 16px;
  line-height: 22.4px;
}

.checkbox-group input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  opacity: 0;
  
}

.checkbox-group label::before {
  content: '';
  width: 24px;
  height: 24px;
  display: block;
  border: 1px solid #2C2C2C;
  border-radius: 4px;
}

.checkbox-group input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00016 16.1698L4.83016 11.9998L3.41016 13.4098L9.00016 18.9998L21.0002 6.99984L19.5902 5.58984L9.00016 16.1698Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
}

.checkbox-group input:focus + label::before {
  outline: 2px solid black;
}

.checkbox-group a {
  color: inherit; /* Herda a cor do texto ao redor */
  font-size: 18px;
}

.vip-form button {
  width: 100%;
  padding: 16px 140px;
  background-color: #2C2C2C;
  color: #FFF;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.vip-form button:hover {
  background-color: #555;
}

/* Footer */
#site-footer {
  padding: 0 184px;
  margin-bottom: 80px;
  font-size: 16px;
  color: #757575;
}

.footer-container {
  border-top: 1px solid #D9D9D9;
  padding-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  display: flex;
  gap: 24px;
}

.footer-social a, .footer-social a:visited, .footer-social a:active {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #757575;
}

.footer-social a img {
  height: 22px;
  margin-right: 18px;
}
